<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<div th:fragment="header"  style="margin: 0 0 20px">
<div style=" background-color: #1f3245; width: 100%;height: 100%;margin: 0 0 10px;min-height: 30px;text-align:left">
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <link th:href="@{/css/buttons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/table.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/form.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/styles/common/style.css}" rel="stylesheet" type="text/css">

    <a th:class="landing-logo">
        <img ng-src="images/flowable-logo.png" ng-srcset="images/flowable-logo.png 1x, images/flowable-logo@2x.png 2x" th:src="@{/images/flowable-logo.png}" >
    </a>

    <span style="float: left;font-size: 20px;margin: 0 20px 0">
        <span style="color:white ">当前用户：</span>
        <span id="userId" style="color: #8bc220;border: 1px"></span>
        <button id="loginButton"  th:class="login" style="visibility: hidden"  onclick="login()">登陆</button>
    </span>

    <button style="float: right" th:class="button2" onclick="logout()">登出</button>
    <button  th:class="button2" onclick="showProcessList()">流程列表</button>
    <button  th:class="button2" onclick="showMyTask()">我的任务</button>
    <button  th:class="button2" onclick="modelList()">流程模板列表</button>
    <button  th:class="button2" onclick="createModel()">创建流程图</button>
</div>
    <!--信息盒子-->
    <div>
    <p id="MsgBox"  style="text-align: center;color: red;font-size: larger"></p>
    </div>

    <script>

        $(function () {
            /*加载页面的时候自动查询用户登陆信息*/
            $.get("/idm/checkCurrentUser",function (result) {
                if (result.code !== 200){
                    $("#userId").text(result.msg);
                    document.getElementById("loginButton").style.visibility = "visible"
                }
                if (result.code === 200){
                    $("#userId").text(result.data);
                }
            });
        });

        /*登出*/
        function logout() {

            $.get("/idm/logout",function (result) {
                console.log('result'+result);
                window.location.href="/";
            });

            $.ajax({
                url:"/idm/logout",
                success:function (data) {
                    console.log(data);
                    window.location.href="/";
                },
                error:function (data) {
                    console.log(data);
                }
            })
        }

        function showMsg(message) {
            $("#MsgBox").text(message);
            window.setTimeout(reload,2000)
        }

        function reload() {
            window.location.reload();
        }

        function showProcessList() {
            window.location.href="/process/processList"
        }

        function showMyTask() {
            window.location.href="/task/userTask"
        }

        function createModel() {
            window.location.href="/index.html";
        }

        function modelList() {
            window.location.href="/process/modelList";
        }

        function login() {
            window.location.href="/"
        }

        function jsonArrayToMap(data){
            var result = {};
            for(var i in data){
                /*result[data[i].name] = data[i]['value'];*/
                result[data[i].name] = data[i].value;
            }
            return  result;
        }

    </script>

</div>

</body>

</html>
