<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
</head>

<body>

<div th:fragment="header" style="margin: 2%">

    <span>当前登陆用户：<span id="userId" style="font-size: large ; color: red"></span></span>
    <button style="float: right; size: 25px;background-color: #c02731;box-shadow:#76c199" onclick="logout()">登出</button>
    <button style="float: right; size: 25px;background-color: #a0c01e;box-shadow:#76c199" onclick="showProcessList()">流程列表</button>
    <button style="float: right; size: 25px;background-color: #72c0b6;box-shadow:#76c199" onclick="showMyTask()">我的任务</button>
    <button style="float: right; size: 25px;background-color: #c00b9b;box-shadow:#c11932" onclick="createModel()">创建流程图</button>
    <button style="float: right; size: 25px;background-color: #c0ba39;box-shadow:#c11932" onclick="modelList()">流程模板列表</button>


    <script>

        $(function () {
            /*加载页面的时候自动查询用户登陆信息*/
            $.get("/idm/checkSession",function (data) {
                console.log(data);
                if (data.user == null){
                    $("#userId").html(data.msg);
                }
                if (data.user != null){
                    $("#userId").html(data.user.id);
                }
            });
        });

        function logout() {
            $.ajax({
                url:"/idm/logout",
                success:function (data) {
                    console.log(data);
                    alert("成功退出");
                    window.location.href="/";
                },
                error:function (data) {
                    console.log(data);
                }
            })
        }

        function showProcessList() {
            window.location.href="/process/processList"
        }

        function showMyTask() {
            window.location.href="/task/myTask"
        }

        function createModel() {
            window.location.href="/index.html";
        }

        function modelList() {
            window.location.href="/process/modelList";
        }
    </script>
</div>

</body>

</html>
