<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>网易云音乐主页面</title>
<script type="text/javascript" src="../js/jquery-2.1.0.min.js"></script>
</head>
<style>
	.card {
		box-shadow: 0 4px 10px 1px rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 100%;

	}

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}


	.container {
		padding: 200px 100px;
	}
</style>

<body>

<div class="card" >
	<div class="container">
		<form method="post" id="login" action="#">

			<table border="0px" width="20%" height="30%" cellspacing="5" cellpadding="5" align="center">
				<tr>
					<td>用户名：</td>
					<td><input type="text"  id="userId"></td>
				</tr>
				<tr>
					<td>密&nbsp;&nbsp;&nbsp;  码：</td>
					<td><input type="password"  id="password"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" align="center"  value="提交"></td>
				</tr>
			</table>
		</form>
	</div>
</div>

</body>
<script type="text/javascript">

</script>
</html>