<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布流程页面</title>
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
</head>
<body>

<!--<style type="text/css">
    table {
        border: 1px solid black;
        text-align: center;
        border-collapse: collapse;
    }
    table thead th {
        border: 1px solid black;
    }
    table tbody td {
        border: 1px solid black;
    }
</style>-->

<div th:replace="header.html :: header"></div>
<link th:href="@{/css/table.css}" rel="stylesheet" type="text/css">
<div id="mainBox" th:align="center">
    <table th:class="gridtable">
        <thead>
        <th>流程定义Id</th>
        <th>流程定义名</th>
        <!--<th>流程类别</th>-->
        <th>流程实例key</th>
        <th>部署id</th>
        <th>状态</th>
        <th>操作空间</th>
        </thead>
        <tbody>
        <tr th:each="processDef:${processDefinitionList}">
            <td th:text="${processDef.id}"></td>
            <td th:text="${processDef.name}"></td>
            <!--<td th:text="${processDef.category}"></td>-->
            <td th:text="${processDef.keyWord}"></td>
            <td th:text="${processDef.deploymentId}"></td>
            <td th:text="${processDef.suspensionState} eq 1? '运行中':'已挂起'"></td>
            <td>
                <button th:value="${processDef.id}" th:class="button3" onclick="runProcess(value)">启动</button>
                <button th:value="${processDef.id}" th:class="button3" style="background-color: #1754c2" onclick="suspend(value)">挂起</button>
                <button th:value="${processDef.id}" th:class="button3" style="background-color: #c28c63" onclick="activate(value)">激活</button>
                <button th:value="${processDef.deploymentId}" th:class="button3" style="background-color: red"
                        onclick="deleteProcess(value)">删除
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>

    function runProcess(processDefinitionId) {
        $.post("/process/startProcessById",{"processDefinitionId": processDefinitionId},function (result) {
            showMsg(result.msg);
        });
    }

    function deleteProcess(deploymentId) {
        $.ajax({
            url: "/process/deleteProcessById",
            data: {"deploymentId": deploymentId},
            type: "DELETE",
            /*dataType: "JSON/a",*/
            async: true,
            success: function (result) {
                console.log(result);
                showMsg(result.msg);
            },
            error: function (data) {
                console.log(data);
            }
        })
    }

    function suspend(processDefinitionId) {
        $.get("/process/suspendProcessByProcessDefinitionId",{"processDefinitionId":processDefinitionId},function (result) {
            showMsg(result.msg);
        });
    }

    function activate(processDefinitionId) {
        $.get("/process/activateProcessByProcessDefinitionId",{"processDefinitionId":processDefinitionId},function (result) {
            showMsg(result.msg);
        })

    }
</script>
</html>
