<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection 压制表达式报错-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>任务列表</title>
</head>
<body>
<!--引入头列表-->
<div id="heard"  th:replace="header.html :: header"></div>

<!--遮罩层div-->
<div class="zhezhao"></div>

<!--完成任务弹出层div-->
<div class="remove"  >
    <button id="guanbi" onclick="hide()">关闭</button>
    <form id="form1" action="#" method="get" name="form1" >
        <table id="table1" style="display: none">
            <tr>
                <td>用户id:</td>
                <td>
                    <label>
                    <input type="text" placeholder="用户id" name="userId" >
                    </label>
                </td>
            </tr>
            <tr>
                <td>申请金额:</td>
                <td>
                    <label>
                        <input type="text" placeholder="申请金额"  name="money" >
                    </label>
                </td>
            </tr>
            <tr>
                <td>是否提交申请:</td>
                <td>
                    <label>
                        <input type="radio" placeholder="是否提交申请" name="send_apply" value="true" checked="checked">是
                        <input type="radio" placeholder="是否提交申请" name="send_apply" value="false" >否
                    </label>
                </td>
            </tr>
            <tr>
                <td>任务代办人：</td>
                <td>
                    <label>
                        <input type="text" placeholder="设置任务代办人" name="assignee">
                    </label>
                </td>
            </tr>
            <tr>
                <td>是否通过：</td>
                <td>
                    <label>
                        <input type="radio" placeholder="是否通过" name="approve" value="true" checked="checked">通过
                        <input type="radio" placeholder="是否通过" name="approve" value="false" >不通过
                    </label>
                </td>
            </tr>
            <tr>
                <td><input type="button" id="form1_submit" value="提交参数"></td>
            </tr>
        </table>
        <table id="table2" >
            <tbody>
            <tr>
                <td>设置任务办理人：</td>
                <td><input type="text" placeholder="任务办理人的Id" name="userId"></td>
            </tr>
            <tr>
                <td><input type="button" id="table2_submit" value="提交参数"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="reject_task">
  <p> <button  onclick="hide()">关闭</button></p>
    <label>
        <select name="sourceRefSelect" id="selects" >
            <option value="">选择要退回的节点</option>
            <!--playerRoleList后台获取到的集合th:each进行遍历,
                playerRole作为集合对象的变量名称,
                th:value="${playerRole.id}作为value值
                th:text="${playerRole.name}"作为需要显示的内容-->
            <option th:each="rejectInfo:${rejectInfos}"
                    th:value="${rejectInfo.sourceRefId}"
                    th:text="${rejectInfo.sourceRefName}"></option>
        </select>
    </label>
</div>

<!--流程节点跳转div-->
<div class="singleNodeJump" >
    <form action="#" id="node_jump_form">
        <table id="node_jump_table" style="margin:auto">
            <thead>
            <tr>
                <th>
                </th>
                <th>
                    <input type="button"  th:class="button-royal" style="float: right" onclick="hide()" value="关闭">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>目标节点ID：</td>
                <td><input  id="targetNodeId" type="text" placeholder="要跳转的节点Id" name="targetNodeId"></td>
            </tr>

            <tr>
                <td><input type="button" id="node_jump_submit" value="执行跳转"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<!--taskList-div-->
<div id="bodyBox">
    <!--任务列表div-->
    <div id="mainBox" th:align="center">
    <table th:class="gridtable" >
        <thead>
        <th>任务Id</th>
        <th>任务名称</th>
        <th>代理人</th>
        <th>创建时间</th>
        <th>任务状态</th>
        <th>租户Id</th>
        <th>操作空间</th>
        </thead>
        <tbody>
        <tr th:each="task:${tasks}">
            <td th:text="${task.id}" ></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.assignee}"></td>
            <td th:text="${#dates.format(task.createTime, 'yyyy-MM-dd HH:mm:ss')}" ></td>
            <td th:text="${task.suspensionState} eq 1? '运行中':'已挂起'"></td>
            <td th:text="${task.tenantId}"></td>
            <td >
                <button  th:value="${task.id}" th:class="button3" onclick="completeTask(value)">完成</button>
                <button  th:value="${task.processInstanceId}" th:class="button3" onclick="rejectTask(value)">退回</button>
                <button  th:value="${task.id}" th:class="button3" onclick="nodeJump(value)">任务跳转</button>
                <button th:value="${task.processInstanceId}" th:class="button3" style="background-color: #1b6d85" onclick="showImage(value)">流程图</button>
                <button th:value="${task.processInstanceId}" th:class="button3" style="background-color: #1754c2" onclick="suspendTask(value)">挂起</button>
                <button th:value="${task.processInstanceId}" th:class="button3" style="background-color: #c28c63" onclick="activateTask(value)">激活</button>
            </td>
            </tr>
           </tbody>
      </table>
    </div>
    <!--流程图div-->
    <div id="imgDiv" style="border-image-width: auto;text-align: center"></div>

</div>

</body>

<script>

    $(function () {

    });

    function show() {
        $('.zhezhao').css('display', 'block');
        $('.remove').css('display','block')
    }

    function hide() {
        $('.remove').css('display','none');
        $('.zhezhao').css('display', 'none');
        $('.singleNodeJump').css('display','none');
        $('.reject_task').css('display','none');
    }

    function nodeJump(taskId) {
        $('.zhezhao').css('display', 'block');
        $('.singleNodeJump').css('display', 'block');

        $("#node_jump_submit").click(function () {
            var formData = $("#node_jump_form").serializeArray();
            var result = jsonArrayToMap(formData);
            var targetNodeId =result.targetNodeId;

            console.log(targetNodeId);
            $.get("/task/jump",{"taskId":taskId,"targetNodeId":targetNodeId},function (result) {
                showMsg(result.msg);
            });
            hide();
        })
    }

    function completeTask(taskId) {
        show();
        $("#table2_submit").click(function (){
            var formData = $("#form1").serializeArray();
            //通过自定义JS方法将数组对象转化为map格式{"key1","value1",...}
            var result = jsonArrayToMap(formData);
            //console.log(result);
            //再将Map对象转为字符串
            var resultData =JSON.stringify(result);
            $.get("/task/completeTaskWithData",{"taskId":taskId,"formData":resultData},function (result) {
                showMsg(result.msg);
            });
            hide();
        } );
    }

    function showImage(processInstanceId) {
        console.log('processInstanceId:'+processInstanceId);
        $("#imgDiv").empty().append("<img src='/task/processDiagram?processInstanceId="+processInstanceId+"'>")
    }

    function suspendTask(processInstanceId) {
        $.get("/task/suspendProcessInstanceById",{"processInstanceId":processInstanceId},function (result) {

            if (result.code === 200){
                reload();
            }
            if (result.code !== 200){
                showMsg(result.msg);
            }

        })
    }

    function activateTask(processInstanceId) {
        $.get("/task/activateProcessInstanceById",{"processInstanceId":processInstanceId},function (result) {
            if (result.code === 200){
                reload();
            }
            if (result.code !== 200){
                showMsg(result.msg);
            }
        })
    }

    function rejectTask(processInstanceId) {
        $('.zhezhao').css('display', 'block');


        $.get("/task/rejectTaskData",{"processInstanceId":processInstanceId},function (result) {
        });
        $('.reject_task').css('display','block');
    }

</script>
</html>
