<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection 压制表达式报错-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8" />
    <title>自定义页面测试</title>
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
    <link th:href="@{/css/buttons.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/customize.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/styles/common/style.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/vue.js}"></script>
</head>
<body>

</body>
</html>
